/*  your css code here. If applicable */
  .container {
            width: 500px;
            padding: 30px;
            margin: 50px auto;
            border: 3px solid black;
            border-radius: 40px;
            background-color: #e0e0e0;
            text-align: center;
        }

        .green, .yellow, .red {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 15px;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }